@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Sacramento&display=swap');
h1{
    font-family: "Sacramento";
    color: cornflowerblue;
    text-align: center;
}

h2{
    font-family: "Poiret One";
}

nav ul li{
    list-style-type: none;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lavenderblush;
}

nav ul{
    padding: 10px;
}

nav a:link{
    text-decoration: none;
    color: hotpink;
    background-color: lavenderblush;
}

img{
    width: auto;
    max-width: 100%;
}

.wrapper{
    margin: auto;
    max-width: 800px;
    display: grid;
    /* grid-template-columns: 1fr 4fr 100px; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-rows: 100px 3fr 2fr; */
    grid-template-rows: 250px auto auto;
    /* padding: 10px; */
    align-items: center;
}

header{
    /* align-items: center; */
    /* grid-column: 1/2;
    grid-row: 1/3; */

}

.featured{
    /* grid-column: 1/2;
    grid-row: 3/3; */
}

nav{
    grid-row: 2 / 3;
    /* grid-column: 1/2;
    grid-row: 2/3; */
}

section > h2{
    color: cornflowerblue;
}

body{
    background-image: url("images/inspiration-geometry.png");
}

@media only screen and (min-width: 800px){
    .featured{
        background-color: cornflowerblue;
    }
    
    nav ul li{
        display: inline;
        /* padding: 0; */
        padding-right: 92px;
        /* margin-bottom: 0; */
    }

    nav ul{
        /* padding: 0px; */
        text-align: center;
    }

    .featured > h2{
        color: White;
    }
}